.app {
  display: grid;
  grid-template-columns: repeat(99, 1fr);
  grid-template-rows: repeat(26, 1fr);
  height: 100vh;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 100;
  grid-row: 1 / 3;
  background-color: #383838;
  z-index: 999;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  grid-column: 1 / 23;
  grid-row: 1 / 27;
  box-shadow: 1px 1px 1px 0px #b0b0b0;
  background-color: #d8d8d8;
}

.pagebar-wrapper {
  grid-column: 23 / 100;
  grid-row: 23 / 27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  grid-column: 23 / 100;
  grid-row: 3 / 23;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.swatch-wrapper {
  flex-direction: column;
  border-radius: 4%;
  box-shadow: 1px 1px 2px 1px #b0b0b0;
  flex: 1 1 calc(50% - 34px);
  height: calc(33% - 25px);
  margin: 25px 17px 0px 17px;
  overflow: hidden;
  cursor: pointer;
}

.swatch-color-box {
  height: 80%;
}

.swatch-title-box {
  height: 20%;
}

.swatch-title {
  display: inline;
  position: relative;
  top: 5px;
  left: 10px;
}

.page-number {
  cursor: pointer;
  display: inline;
  margin: 3px;
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

.random-color-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  height: 27px;
  width: 80%;
  border: 1px solid;
  border-radius: 4px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.random-color-text {
  font-weight: bold;
}

.img-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 12px;
}

img {
  height: 50%;
  cursor: pointer;
}

input {
  width: 20%;
  margin: 8px 12px;
  font-size: 12px;
}

.color-category-wrapper {
  position: absolute;
  top: 115px;
  width: 80%;
  font-size: 13px;
  line-height: 12px;
}

.color-category-wrapper > p {
  cursor: pointer;
}

.selected-swatch-wrapper {
  grid-column: 23 / 100;
  grid-row: 3 / 27;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-display {
  margin-top: 36px;
  height: 62%;
  width: 92%;
  border-radius: 1%;
  border: 1px solid;
  overflow: hidden;
}

.large-swatch-color-box {
  height: 80%;
  width: 100%;
}

.large-swatch-text-box {
  height: 20%;
  width: 100%;
  font-size: 22px;
  padding-left: 20px;
  font-weight: lighter;
}

.large-swatch-text {
  line-height: 19px;
}

.small-displays {
  height: 18%;
  width: 92%;
  border: 1px solid;
}

.clear-btn {
  width: 120px;
  height: 25px;
  border: 1px solid;
  margin-top: 18px;
  border-radius: 4px;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}

@media all and (min-width: 480px) and (max-width: 599px) {
  .swatch-wrapper {
    flex: 0 0 calc(33% - 34px);
    height: calc(33% - 25px);
    margin: 25px 17px 0px 17px;
  }
}

@media all and (min-width: 600px) and (max-width: 820px) {
  .swatch-wrapper {
    flex: 0 0 calc(25% - 34px);
    height: calc(33% - 25px);
    margin: 25px 17px 0px 17px;
  }
}

@media all and (min-width: 821px) and (max-width: 1150px) {
  .swatch-wrapper {
    flex: 0 0 calc(20% - 34px);
    height: calc(33% - 25px);
    margin: 25px 17px 0px 17px;
  }
}
@media all and (min-width: 1150px) {
  .swatch-wrapper {
    flex: 1 1 calc(16.6% - 34px);
    height: calc(43% - 25px);
    margin: 25px 17px 0px 17px;
  }
}
